body{
    font-family: 'Roboto', 'Open Sans',Arial,Verdana,Helvetica,sans-serif;
    background-color: #ffffff;
    background-attachment:fixed;
    background-position:center;
    background-size:cover;
    padding: 0px;
    margin: auto;
}

#site {
    min-width: 1200px;
    min-height: 650px;
    position: relative;
    padding-top: 0%;
    padding-bottom: 0%;
    z-index: 2;
    width: 50vh;
    display: block;
    background-color: inherit;
    margin: auto;
}

p {
  line-height:1.75
}

.text-faded {
  color:rgba(255,255,255,.3)
}

.site-heading .site-heading-upper {
  display:block;
  font-size:2rem;
  font-weight:800;
}

.page-section {
  margin-top:1rem;
  margin-bottom:1rem;
}

.section-heading {
  text-transform:uppercase;
}

.section-heading .section-heading-upper {
  display:block;
  font-size:1rem;
  font-weight:800;
}

.section-heading .section-heading-lower {
  display:block;
  font-size:3rem;
  font-weight:100;
}

.bg-faded {
  background-color: #2e2e2e;
}

/*  Navigation bar  */
#mainNav {
  background-color:#111111 ;
  font-family: Roboto, Raleway;
}

#mainNav .navbar-nav .nav-item .nav-link {
  color:white;
  font-weight:800;
}

.nav-link:hover {
  border-bottom: 2px solid #ffffff;
}

.navbar {
  position: fixed;
  top: 0%;
  width: 100%;
  overflow: hidden;
  z-index:3;
  height: 60px;
}

.navbar-item {
display: block;
}

.navbar-item-container {
  width: 950px;
  margin: auto;
  height: 100%;
}

.karuzela-container {
    position: relative;
    background-color: inherit;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    padding: 0px;
    padding-top: 7%;
    padding-bottom: 2%;
    width: 100%;
  }

  .lista-realizacji {
      width: 100%;
      padding: 1px;
      color: white;
  }

  .list-group-item {
      color: black;
      background-color: white;
  }

  .list-group-item-container {
    padding-bottom: 1px;
    padding-right: 3px;
  }

  .list-group-item:hover {
      color: white;
      background-color: #dd3333;
  }

  .karuzela {
      position: right;
      display: flex;
      padding-right: 0px;
      width: 600px;
      padding-top: 2%;
      margin: auto;
  }



  .contact-button {
    border: 2px solid white;
    border-radius: 5px;
  }

  #logo{
      position:absolute;
      height: 45px;
      width: auto;
      overflow: hidden;
      left: 19%;
      vertical-align: auto;
      
  }

  .main-text {
      padding-top: 40px;
      margin-bottom: 40px;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100vh;
    max-width:100%;
    height:auto;
  }

  footer {
    width: 100vh;
    width: 100%;
    margin: 0px;
    padding: 0%;
    justify-content: left;
  }

  .footer-container {
    background-color: #111111;
    min-width: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    place-items: left;
  }

  .footer-link {
    color: #3e3e3e;
    font-size: .9rem;
    text-align: left;
    padding-left: 35%;
  }

  .footer-category-header{
    color: #4e4e4e;
    font-size: 1rem;
    text-align: left;
    padding-left: 35%;
  }

  .realizacje-container {
    padding: 10px; 
  }

  .kontakt-container {
    padding: 0%;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #c8d4dd;
    background-color: #2e2e2e;
    margin-bottom: 0px;
  }

  .kontakt-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    place-items: left;
  }
  
  .kontakt-elements {
    display: grid;
  }

  .intro-container {
    color: #c8d4dd;
  }

.categories-container {
  position: relative;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: left;
  overflow: hidden;
  background-color: inherit;
  margin: auto;
  margin-top: 0px;
  padding: 0px;
  padding-top: 6%;
  padding-bottom: 3%;
  height: 400px;
  justify-items: center;
}


.categories-image {
  width: 390;
  height: auto;
  align-content: center;
  border: 2px outset transparent;
}

.categories-image:hover {
  border: 2px solid white;
}

.active-link {
  color: #dd3333!important;
}

  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .pop { max-width: 100%; height: auto; }
    .logo {
      visibility: hidden;
    }
    .contact-button {
      border: hidden;
    }
    .container {
      max-width: 100%;
      height: auto;
    }
    .site {
      width: 100vh;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }
  /* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
  #primary { width:67%; }
  #secondary { width:30%; margin-left:3%;}  
  .pop { max-width: 100%; height: auto; }
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
  #primary { width:100%; }
  #secondary { width:100%; margin:0; border:none; }
  .pop { max-width: 100%; height: auto; }
  .karuzela {
    visibility: hidden;
  }
  .site {
    max-width: 100%;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .pop { max-width: 50%; height: auto; }
  .site {
    width: 100%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .pop { max-width: 50%; height: auto; }
  .site {
    width: 100vh;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .pop { max-width: 100%; height: auto; }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}